{% extends "base.html" %}
{% block title %}Tela Inicial{% endblock %}

{% block content %}
<br></br>
<div align="center">
    <h3 align="center" >Tela Inicial</h3>
    <br></br>
    <p>
        <a class="btn btn-outline-dark btn-lg" href="/servicos" role="button">Serviços</a>
        <a class="btn btn-outline-dark btn-lg" href="/parcerias" role="button">Parcerias</a>
    </p>
    <p>
        <a class="btn btn-outline-dark btn-lg" href="/perfil-emp" role="button">Perfil</a>
    </p>
</div>
{% endblock %}